<p style="color: green"><%= notice %></p>

<% content_for :title, "Movies" %>

<h1>Movies</h1>

<div id="movies">
  <table>
    <thead>
      <tr>
        <th><%= link_to "Title" , movies_path(sort: "title") %></th>
        <th><%= link_to "Rating" , movies_path(:sort=> "rating") %></th>
        <th><%= link_to "Release_date" , movies_path(:sort=> "release_date") %></th>
      </tr>
    </thead>
    <tbody>
      <% @movies.each do |movie| %>
      <tr>
        <td> <%= movie.title%> </th>
        <td> <%= movie.rating%> </th>
        <td> <%= movie.release_date.to_date%> </th>
      </tr>
    <% end %>
    </tbody>
    <tfoot>
      <tr>
        <th><%= Movie.count%></th>
        <th><%=Movie.group(:rating).order('count_id DESC').count(:id).first%></th>
        <th><%=Movie.average(:release_date)%></th>
      </tr>
    </tfoot>
  
  </table>
</div>

<%= link_to "New movie", new_movie_path %>
