<p style="color: green"><%= notice %></p>

<% content_for :title, "Movies" %>

<h1>Movies</h1>

<div id="movies">
  <table>
    <thead>
  <tr>
    <%= sort_column("Title", "title", @preference) %>
    <%= sort_column("Rating", "rating", @preference) %>
    <%= sort_column("Release Date", "release_date", @preference) %>
  </tr>
</thead>
<tbody>
  <% @movies.each do |movie| %>
    <tr>
      <td class="<%= 'main' if @preference.last_column == 'title' %>"><%= movie.title %></td>
      <td class="<%= 'main' if @preference.last_column == 'rating' %>"><%= movie.rating %></td>
      <td class="<%= 'main' if @preference.last_column == 'release_date' %>"><%= movie.release_date.to_date %></td>
    </tr>
  <% end %>
</tbody>

    <tfoot>
      <tr>
        <th>HAVE </th>
        <th>A</th>
        <th>BLAST</th>
      </tr>
    </tfoot>
  
  </table>
</div>

<%= link_to "New movie", new_movie_path %>
